services:
  neo4j-db:
    image: neo4j:5.14
    environment:
      NEO4J_AUTH: "neo4j/testTEST12345678"
    ports:
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    networks:
      - appnet

  verwaltung:
    build: .
    ports:
      - "5001:5000"
    depends_on:
      - neo4j-db
    environment:
      NEO4J_URI: "bolt://neo4j-db:7687"
      NEO4J_USER: "neo4j"
      NEO4J_PASS: "testTEST12345678"
      SECRET_KEY: "DASISTDERTOPSECRETKEY"
    networks:
      - appnet
    command: ["./wait-for-it.sh", "neo4j-db:7687", "--timeout=60", "--", "python3", "app.py"]

networks:
  appnet:

volumes:
  neo4j_data:
