{% extends "base.html" %}

{% block title %}Übersicht{% endblock %}

{% block content %}
    <h1>Daten-Übersicht</h1>
        {% if error %}
        <div class="error" style="color: red; font-weight: bold;">
            {{ error }}
        </div>
    {% else %}
    
        <h3>Abfrage</h3>
        <p>Wähle die Node-Typen aus, die du anzeigen möchtest:</p>
        <div id="querySelection">
            {% for label in db_info.labels %}
                <label>
                    <input type="checkbox" name="label" value="{{ label }}"> {{ label }}
                </label>
            {% endfor %}
        </div>
        
        <hr>
        <h3>Abfrage speichern</h3>
        <p>Gib einen Namen für die aktuelle Auswahl ein und speichere sie:</p>
        <input type="text" id="queryNameInput" placeholder="Name der Abfrage">
        <button onclick="saveQuery()">Speichern</button>

        <hr>
        <h3>Gespeicherte Abfragen laden</h3>
        <select id="savedQueriesSelect">
            <option value="">-- Wähle eine gespeicherte Abfrage --</option>
        </select>
        <button onclick="loadSavedQuery()">Laden</button>

        <hr>
        <div id="resultsContainer">
        </div>
    {% endif %}

    <script src="static/overview.js"></script>

    <script>
	    fetchData();
    </script>
{% endblock %}
