{% extends "layout.html" %}
{% block title %}Aggregat{% endblock %}
{% block content %}
		<h1>{{ title }}</h1>

		<div class="filter-box">
			<form method="get">
				{% for label, (typ, param, val) in filter_config.items() %}
					<div>
						{% if typ == bool %}
							<!-- Kein Eingabefeld bei boolean-Filter nötig -->
						{% elif typ == int or typ == float or typ == str %}
							<input
								type="text"
								name="{{ label }}"
								placeholder="{{ label }}"
								value="{{ val if val is not none else '' }}"
								style="background-color: rgb(26, 32, 44); color: rgb(247, 250, 252); border: 1px solid rgb(61, 174, 233);"
							>
						{% else %}
							<input
								type="text"
								name="{{ label }}"
								placeholder="{{ label }}"
								value="{{ val if val is not none else '' }}"
								style="background-color: rgb(26, 32, 44); color: rgb(247, 250, 252); border: 1px solid rgb(61, 174, 233);"
							>
						{% endif %}
					</div>
				{% endfor %}

				<button type="submit">Filter anwenden</button>
				<a href="{{ url_for_view }}">Alle anzeigen</a>
			</form>
		</div>

		{% if row_data %}
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						{% for col in column_labels %}
						<th>{{ col }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in row_data %}
					<tr>
						{% for cell in row %}
							{% set col_name = column_labels[loop.index0] %}
							{% if col_name in ["Ausgegeben an", "Ausgegeben durch", "PDF"] %}
								<td>{{ cell | safe }}</td>
							{% else %}
								<td>{{ cell }}</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>

			</table>

		</div>
		{% else %}
		<p><em>Keine Daten vorhanden.</em></p>
		{% endif %}
{% endblock %}
