<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Neo4j Importer{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Importieren</a> |
        <a href="/overview">Übersicht</a> |
        <a href="/graph">Graph</a> |
        <a href="/index_manager">Index-Manager</a> |
        <a href="/api/reset_and_load_data">Reset</a> |
        <a href="/api/reset_and_load_complex_data">Reset (complex)</a> |
	<a href="/api/dump_database">Download</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
