{% if not request.headers.get('X-Requested-With') == 'XMLHttpRequest' %}
{% extends "layout.html" %}
{% endif %}

{% block title %}Daten-Import{% endblock %}

{% block content %}
	<script src="static/import.js"></script>

	<h1>Daten importieren</h1>

	<div class="preset-buttons">
		<h3>Vordefinierte Daten zum Testen einfügen:</h3>
		<button type="button" onclick="insertDefaultData('persons')">Personen</button>
		<button type="button" onclick="insertDefaultData('customers')">Kunden</button>
		<button type="button" onclick="insertDefaultData('orders')">Bestellungen</button>
		<button type="button" onclick="insertDefaultData('shipments')">Lieferungen</button>
	</div>

	<form id="upload_form" action="/upload" method="post">
		<label for="data">Füge deine CSV/TSV-Daten hier ein:</label><br>
		<textarea id="data" name="data" rows="10" cols="80"
							  placeholder="z.B.: vorname,nachname,gebäude,abkürzung"
							  style="background-color: rgb(26, 32, 44); color: rgb(247, 250, 252); border: 1px solid rgb(61, 174, 233);"></textarea><br>
						  <button type="submit"
							  style="background-color: rgb(26, 32, 44); color: rgb(247, 250, 252); border: 1px solid rgb(61, 174, 233);">
							  Upload &amp; Zuordnen
						  </button>
	</form>

	<div id="upload_response"></div>

	<script>
		add_import_handlers();
	</script>
{% endblock %}
