{% extends "base.html" %}

{% block title %}Graph{% endblock %}

{% block content %}
<h1>Neo4j Index Manager</h1>
<form id="indexForm">
<table>
<thead>
<tr>
  <th>Node Type</th>
  <th>Property</th>
  <th>Existing Index</th>
  <th>Create Index?</th>
</tr>
</thead>
<tbody>
{% for label in labels %}
  {% for prop in label_props[label] %}
  <tr>
    <td>{{ label }}</td>
    <td>{{ prop }}</td>
    <td>
      {{ "✅" if (label, prop) in indexed_pairs else "" }}
    </td>
      <td>
        {% if (label, prop) not in indexed_pairs %}
          <input type="checkbox" name="index" value="{{ label }}|{{ prop }}">
        {% endif %}
      </td>
  </tr>
  {% endfor %}
{% endfor %}
</tbody>
</table>
<button type="submit">Create Selected Indices</button>
</form>

<script src="static/index_manager.js"></script>

{% endblock %}
