<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Raum- und Snapzone Editor</title>
<link rel="stylesheet" type="text/css" href="static/map_editor.css">
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">

<script src="static/jquery.js" crossorigin="anonymous"></script>
</head>
<body>



  <div id="containerContainer">
    <img id="backgroundImage" src="/static/siebte_etage.png" alt="Etagenplan">
    <div id="container">
    </div>
  </div>

<pre id="output">// Räume und Snapzones werden hier angezeigt</pre>


  <script>
    const img = document.getElementById('backgroundImage');
    const container = document.getElementById('container');

    img.onload = function () {
      container.style.width = img.naturalWidth + 'px';
      container.style.height = img.naturalHeight + 'px';
    };
  </script>

<textarea id="import" onkeyup="import_text()" style="min-width: 500px; min-height: 500px">
[
  {
    "name": "668",
    "x": 27,
    "y": 45,
    "width": 276,
    "height": 353
  },
  {
    "name": "662B",
    "x": 312,
    "y": 45,
    "width": 133,
    "height": 353
  },
  {
    "name": "662A",
    "x": 452,
    "y": 43,
    "width": 133,
    "height": 274
  },
  {
    "name": "662",
    "x": 450,
    "y": 322,
    "width": 134,
    "height": 76
  },
  {
    "name": "658",
    "x": 593,
    "y": 43,
    "width": 276,
    "height": 355
  },
  {
    "name": "656",
    "x": 876,
    "y": 41,
    "width": 276,
    "height": 356
  },
  {
    "name": "TR2",
    "x": 1161,
    "y": 41,
    "width": 419,
    "height": 356
  },
  {
    "name": "652",
    "x": 1584,
    "y": 43,
    "width": 136,
    "height": 355
  },
  {
    "name": "650",
    "x": 1727,
    "y": 42,
    "width": 273,
    "height": 354
  },
  {
    "name": "646B",
    "x": 2008,
    "y": 42,
    "width": 134,
    "height": 354
  },
  {
    "name": "646A",
    "x": 2151,
    "y": 40,
    "width": 134,
    "height": 279
  },
  {
    "name": "646",
    "x": 2151,
    "y": 323,
    "width": 132,
    "height": 73
  },
  {
    "name": "642",
    "x": 2294,
    "y": 43,
    "width": 278,
    "height": 353
  },
  {
    "name": "638",
    "x": 2592,
    "y": 42,
    "width": 275,
    "height": 354
  },
  {
    "name": "636",
    "x": 2876,
    "y": 44,
    "width": 133,
    "height": 355
  },
  {
    "name": "634",
    "x": 3015,
    "y": 42,
    "width": 137,
    "height": 356
  },
  {
    "name": "630",
    "x": 3159,
    "y": 42,
    "width": 275,
    "height": 355
  },
  {
    "name": "626",
    "x": 3443,
    "y": 43,
    "width": 278,
    "height": 355
  },
  {
    "name": "624",
    "x": 3731,
    "y": 42,
    "width": 134,
    "height": 355
  },
  {
    "name": "622",
    "x": 3869,
    "y": 41,
    "width": 133,
    "height": 357
  },
  {
    "name": "618",
    "x": 4009,
    "y": 42,
    "width": 275,
    "height": 354
  },
  {
    "name": "TR1",
    "x": 4292,
    "y": 42,
    "width": 275,
    "height": 343
  },
  {
    "name": "614",
    "x": 4577,
    "y": 41,
    "width": 275,
    "height": 356
  },
  {
    "name": "612",
    "x": 4859,
    "y": 44,
    "width": 134,
    "height": 354
  },
  {
    "name": "612A",
    "x": 5001,
    "y": 43,
    "width": 133,
    "height": 353
  },
  {
    "name": "606",
    "x": 5144,
    "y": 42,
    "width": 274,
    "height": 354
  },
  {
    "name": "602",
    "x": 5430,
    "y": 42,
    "width": 275,
    "height": 354
  },
  {
    "name": "601",
    "x": 5430,
    "y": 540,
    "width": 276,
    "height": 354
  },
  {
    "name": "603",
    "x": 5341,
    "y": 536,
    "width": 81,
    "height": 202
  },
  {
    "name": "605",
    "x": 5284,
    "y": 748,
    "width": 135,
    "height": 132
  },
  {
    "name": "607",
    "x": 5144,
    "y": 534,
    "width": 131,
    "height": 122
  },
  {
    "name": "607A",
    "x": 5145,
    "y": 663,
    "width": 126,
    "height": 233
  },
  {
    "name": "609",
    "x": 5002,
    "y": 536,
    "width": 134,
    "height": 358
  },
  {
    "name": "613A",
    "x": 4861,
    "y": 536,
    "width": 134,
    "height": 358
  },
  {
    "name": "613",
    "x": 4576,
    "y": 538,
    "width": 276,
    "height": 352
  },
  {
    "name": "617",
    "x": 4427,
    "y": 536,
    "width": 145,
    "height": 358
  },
  {
    "name": "Aufzug",
    "x": 3875,
    "y": 528,
    "width": 546,
    "height": 365
  },
  {
    "name": "619",
    "x": 3726,
    "y": 537,
    "width": 141,
    "height": 358
  },
  {
    "name": "621",
    "x": 3158,
    "y": 535,
    "width": 560,
    "height": 361
  },
  {
    "name": "629",
    "x": 2875,
    "y": 535,
    "width": 276,
    "height": 358
  },
  {
    "name": "633",
    "x": 2591,
    "y": 537,
    "width": 278,
    "height": 359
  },
  {
    "name": "WC",
    "x": 2147,
    "y": 529,
    "width": 430,
    "height": 367
  },
  {
    "name": "645",
    "x": 2012,
    "y": 536,
    "width": 133,
    "height": 360
  },
  {
    "name": "647",
    "x": 1730,
    "y": 536,
    "width": 277,
    "height": 358
  },
  {
    "name": "649",
    "x": 1449,
    "y": 535,
    "width": 274,
    "height": 359
  },
  {
    "name": "653",
    "x": 1162,
    "y": 539,
    "width": 280,
    "height": 356
  },
  {
    "name": "657",
    "x": 881,
    "y": 539,
    "width": 275,
    "height": 361
  },
  {
    "name": "661",
    "x": 595,
    "y": 536,
    "width": 277,
    "height": 359
  },
  {
    "name": "663",
    "x": 508,
    "y": 535,
    "width": 76,
    "height": 201
  },
  {
    "name": "665",
    "x": 453,
    "y": 748,
    "width": 135,
    "height": 144
  },
  {
    "name": "669",
    "x": 27,
    "y": 539,
    "width": 275,
    "height": 356
  },
  {
    "name": "670",
    "x": 25,
    "y": 404,
    "width": 184,
    "height": 124
  },
  {
    "name": "667",
    "x": 309,
    "y": 539,
    "width": 133,
    "height": 354
  }
]
</textarea>

<script src="static/map_editor.js"></script>

</body>
</html>
