<!doctype html>
<html>
<head>
  <title>Dynamic Neo4j Editor</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h2>Node Types</h2>

<div id="node_types"></div>

<h3>Create Node Type</h3>
Name: <input id="nt_name">
Properties (JSON): <input id="nt_props" value='{"vorname":"str","nachname":"str"}'>
<button id="create_type">Create Type</button>

<h3>Nodes Table</h3>
<select id="node_type_select"></select>
<table border="1" id="nodes_table">
</table>

<script>
function loadNodeTypes(){
  $.get('/get_nodes/NodeType', data => {
    $('#node_types').html(JSON.stringify(data));
    $('#node_type_select').empty();
    data.forEach(d => $('#node_type_select').append(`<option value="${d.n.name}">${d.n.name}</option>`));
    loadNodes($('#node_type_select').val());
  });
}

function loadNodes(label){
  $.get(`/get_nodes/${label}`, data => {
    if(data.length==0){ $('#nodes_table').html(''); return; }
    const props = Object.keys(data[0].n);
    let html = "<tr>";
    props.forEach(p=> html+=`<th>${p}</th>`);
    html+="</tr>";
    data.forEach(d=>{
      html+="<tr>";
      props.forEach(p=>{
        let type = typeof d.n[p];
        let input_type = type=='number'?'number':'text';
        html+=`<td contenteditable="true" data-id="${d.n.id}" data-label="${label}" data-prop="${p}">${d.n[p]}</td>`;
      })
      html+="</tr>";
    })
    $('#nodes_table').html(html);
  });
}

$('#create_type').click(()=>{
  let name = $('#nt_name').val();
  let props = JSON.parse($('#nt_props').val());
  $.post('/create_node_type', JSON.stringify({name, properties: props}), data=>loadNodeTypes());
})

$('#node_type_select').change(()=>loadNodes($('#node_type_select').val()));

$('#nodes_table').on('blur','td[contenteditable]', function(){
  let td = $(this);
  let val = td.text();
  let id = td.data('id');
  let prop = td.data('prop');
  let label = td.data('label');
  $.post('/update_node', JSON.stringify({id, label, property:prop, value:val}));
})

$(document).ready(()=>loadNodeTypes());
</script>
</body>
</html>
